;------------Credentials----------------
[production]

;------------Affiliate Window (http://www.affiliatewindow.com/)------------

;The user Id used in http://www.affiliatewindow.com/ to log in or your email for your Darwin Account
affiliatewindow.user = ''

;The password used in http://www.affiliatewindow.com/ to log in or your password for your Darwin Account
affiliatewindow.password = ''

;The Affiliate API Password provided in the url https://www.affiliatewindow.com/affiliates/accountdetails.php, "Change Passwords" tab
affiliatewindow.apiPassword = ''


;------------Affiliate Future (http://www.affiliatefuture.com/home.asp)------------

;The user name used in http://www.affiliatefuture.com to log in
affiliatefuture.user = ''

;The password used in http://www.affiliatefuture.com to log in
affiliatefuture.password = ''

;------------Trade Doubler (http://www.tradedoubler.com/)------------

;The user name used in http://www.tradedoubler.com/ to log in
tradedoubler.user = ''

;The password used in http://www.tradedoubler.com/ to log in
tradedoubler.password = ''

;------------AdSense (https://www.google.com/accounts/ServiceLogin?service=adsense)------------

;The email used to log into your google account
adsense.user = ''

;The password used to log into your google account
adsense.password = ''

;------------AffiliNet (http://www.affili.net/en/Homepage.aspx)------------

;The user login used in http://www.affili.net/en/Homepage.aspx to log in
affilinet.user = ''

;The password used in http://www.affili.net/en/Homepage.aspx to log in
affilinet.password = ''

;------------Buy At (http://users.buy.at/)------------

;The email used in http://users.buy.at/ to log in
buyat.user = ''

;The password used in http://users.buy.at/ to log in
buyat.password = ''

;------------CarTrawler (http://www.cartrawler.com/about/partners.php)------------

;The user name used in http://www.cartrawler.com/about/partners.php to log in
cartrawler.user = ''

;The password used in http://www.cartrawler.com/about/partners.php to log in
cartrawler.password = ''

;------------Commission Junction (http://www.cj.com/)------------

;The client login used in http://www.cj.com/ to log in
commissionjunction.user = ''

;The password used in http://www.cj.com/ to log in
commissionjunction.password = ''

;The key provided for the cj webservice in the url https://api.cj.com/sign_up.cj
commissionjunction.apiPassword = ''

;------------DGM (http://www.dgmpro.com/)------------

;The login used in http://www.dgmpro.com/ to log in
dgm.user = ''

;The password used in http://www.dgmpro.com/ to log in
dgm.password = ''

;------------LinkShare (http://www.linkshare.com/) ------------

;The user name used in https://cli.linksynergy.com/cli/common/login.php?browserOK to log in
linkshare.user = ''

;The password used in https://cli.linksynergy.com/cli/common/login.php?browserOK to log in
linkshare.password = ''

;------------Omg (http://uk.omgpm.com/)------------

;The id/email used in http://uk.omgpm.com/ to log in
omg.user = ''

;The password used in http://uk.omgpm.com/ to log in
omg.password = ''

;------------PaidOnResults (http://www.paidonresults.com/)------------

;The Affiliate Id used in https://secure.paidonresults.com/login.html to log in
paidonresults.user = ''

;The password used in https://secure.paidonresults.com/login.html to log in
paidonresults.password = ''

;The API Key found in Manage Account > API Feeds > About our API Feeds
paidonresults.apiPassword = ''

;------------SilverTap (http://www.silvertap.com/)------------

;The Email Address used in http://mats.silvertap.com/Login.aspx to log in
silvertap.user = ''

;The password used in http://mats.silvertap.com/Login.aspx to log in
silvertap.password = ''

;------------TerraVision (http://booking.terravision.eu/areap.asp?lng=EN)------------

;The user used in http://booking.terravision.eu/areap.asp?lng=EN to log in
terravision.user = ''

;The password Address used in http://booking.terravision.eu/areap.asp?lng=EN to log in
terravision.password = ''

;------------Trade Tracker (http://www.tradetracker.com/gb/publisher/login)------------

;The Customer ID given in https://affiliate.tradetracker.com/webService once you are logged in
tradetracker.user = ''

;The Passphrase given in https://affiliate.tradetracker.com/webService once you are logged in
tradetracker.password = ''

;------------Travel Jigsaw (http://www.traveljigsawgroup.com/affiliates/AffiliateLogin.do)------------

;The Affiliate Code in http://www.traveljigsawgroup.com/affiliates/AffiliateLogin.do to log in
traveljigsaw.user = ''

;The password in http://www.traveljigsawgroup.com/affiliates/AffiliateLogin.do to log in
traveljigsaw.password = ''

;------------Web Gains (http://www.webgains.com/index.html)------------

;The Username in http://www.webgains.com/index.html to log in
webgains.user = ''

;The password in http://www.webgains.com/index.html to log in
webgains.password = ''

;------------Wow Trk (http://www.wowtrk.com/)------------

;The Client given in https://a.wowtrk.com/partners/affiliate_webservices.html once you are logged in
wowtrk.client = ''

;The Add Code given in https://a.wowtrk.com/partners/affiliate_webservices.html once you are logged in
wowtrk.addCode = ''

;Your login password
wowtrk.password = ''

;------------Zanox (http://www.zanox.com)------------

;Find the next credentials in, Applications > Create Your Personal Application "Details" > My Own Applications > New Application > Zanox Keys
;Once you are logged in

zanox.connectId = ''

zanox.secretKey = ''

zanox.publicKey = ''