;------------Credentials----------------
;Please change the name of this file to credentials.ini
;and follow the instructions
;---------------------------------------
[production]

;------------Affiliate Window (http://www.affiliatewindow.com/)------------

;The user Id used in http://www.affiliatewindow.com/ to log in or your email for your Darwin Account
affiliatewindow.user = ''

;The password used in http://www.affiliatewindow.com/ to log in or your password for your Darwin Account
affiliatewindow.password = ''

;The Affiliate API Password provided in the url https://www.affiliatewindow.com/affiliates/accountdetails.php, "Change Passwords" tab
affiliatewindow.apiPassword = ''


;------------Affiliate Future (http://www.affiliatefuture.com/home.asp)------------

;The user name used in http://www.affiliatefuture.com to log in
affiliatefuture.user = ''

;The password used in http://www.affiliatefuture.com to log in
affiliatefuture.password = ''

;------------Trade Doubler (http://www.tradedoubler.com/)------------

;The user name used in http://www.tradedoubler.com/ to log in
tradedoubler.user = ''

;The password used in http://www.tradedoubler.com/ to log in
tradedoubler.password = ''

;------------AdSense (https://www.google.com/accounts/ServiceLogin?service=adsense)------------

;We are using the OAuth 2 protocol, you can read more about this here https://developers.google.com/adsense/management/tutorials/oauth-generic
;oauth2 is the JSON object returned by the user once they gave us the acces to get the data on his account
adsense.oauth2 = ''
;clientId is the key you will find when setting up a Web application in Google developers console, don't forget to turn on the Adsense API access
adsense.clientId = ''
;adsense.clientSecret is the key you will find when setting up a Web application in Google developers console, don't forget to turn on the Adsense API access.
adsense.clientSecret = ''

;------------AffiliNet (http://www.affili.net/en/Homepage.aspx)------------

;The user login used in http://www.affili.net/en/Homepage.aspx to log in
affilinet.user = ''

;The password used in http://www.affili.net/en/Homepage.aspx to log in
affilinet.password = ''

;------------Buy At (http://users.buy.at/)------------

;The email used in http://users.buy.at/ to log in
buyat.user = ''

;The password used in http://users.buy.at/ to log in
buyat.password = ''

;------------CarTrawler (http://www.cartrawler.com/about/partners.php)------------

;The user name used in http://www.cartrawler.com/about/partners.php to log in
cartrawler.user = ''

;The password used in http://www.cartrawler.com/about/partners.php to log in
cartrawler.password = ''

;------------Commission Junction (http://www.cj.com/)------------

;The client login used in http://www.cj.com/ to log in
commissionjunction.user = ''

;The password used in http://www.cj.com/ to log in
commissionjunction.password = ''

;The key provided for the cj webservice in the url https://api.cj.com/sign_up.cj
commissionjunction.apiPassword = ''

;------------DGM (http://www.dgmpro.com/)------------

;The login used in http://www.dgmpro.com/ to log in
dgm.user = ''

;The password used in http://www.dgmpro.com/ to log in
dgm.password = ''

;------------LinkShare (http://www.linkshare.com/) ------------

;The user name used in https://cli.linksynergy.com/cli/common/login.php?browserOK to log in
linkshare.user = ''

;The password used in https://cli.linksynergy.com/cli/common/login.php?browserOK to log in
linkshare.password = ''

;Network we are going to log in: us, uk, ca, eu, la.
linkshare.network = ''

;------------Omg (http://uk.omgpm.com/)------------

;The id/email used in http://uk.omgpm.com/ to log in
omg.user = ''

;The password used in http://uk.omgpm.com/ to log in
omg.password = ''

;------------PaidOnResults (http://www.paidonresults.com/)------------

;The Affiliate Id used in https://secure.paidonresults.com/login.html to log in
paidonresults.user = ''

;The password used in https://secure.paidonresults.com/login.html to log in
paidonresults.password = ''

;The API Key found in Manage Account > API Feeds > About our API Feeds
paidonresults.apiPassword = ''

;------------SilverTap (http://www.silvertap.com/)------------

;The Email Address used in http://mats.silvertap.com/Login.aspx to log in
silvertap.user = ''

;The password used in http://mats.silvertap.com/Login.aspx to log in
silvertap.password = ''

;------------TerraVision (http://booking.terravision.eu/areap.asp?lng=EN)------------

;The user used in http://booking.terravision.eu/areap.asp?lng=EN to log in
terravision.user = ''

;The password Address used in http://booking.terravision.eu/areap.asp?lng=EN to log in
terravision.password = ''

;------------Trade Tracker (http://www.tradetracker.com/gb/publisher/login)------------

;The Customer ID given in https://affiliate.tradetracker.com/webService once you are logged in
tradetracker.user = ''

;The Passphrase given in https://affiliate.tradetracker.com/webService once you are logged in
tradetracker.password = ''

;------------Travel Jigsaw (http://www.traveljigsawgroup.com/affiliates/AffiliateLogin.do)------------

;The Affiliate Code in http://www.traveljigsawgroup.com/affiliates/AffiliateLogin.do to log in
traveljigsaw.user = ''

;The password in http://www.traveljigsawgroup.com/affiliates/AffiliateLogin.do to log in
traveljigsaw.password = ''

;------------Web Gains (http://www.webgains.com/index.html)------------

;The Username in http://www.webgains.com/index.html to log in
webgains.user = ''

;The password in http://www.webgains.com/index.html to log in
webgains.password = ''

;------------Wow Trk (http://www.wowtrk.com/)------------

;The Client given in https://a.wowtrk.com/partners/affiliate_webservices.html once you are logged in
wowtrk.client = ''

;The Add Code given in https://a.wowtrk.com/partners/affiliate_webservices.html once you are logged in
wowtrk.addCode = ''

;Your login password
wowtrk.password = ''

;------------Zanox (http://www.zanox.com)------------

;Find the next credentials in, Applications > Create Your Personal Application "Details" > My Own Applications > New Application > Zanox Keys
;Once you are logged in

zanox.connectId = ''

zanox.secretKey = ''

zanox.publicKey = ''

;------------Daisycon (http://www.daisycon.com/en/)------------

;The Username in http://www.daisycon.com/en/ to log in
daisycon.user = ''

;The password in http://www.daisycon.com/en/ to log in
daisycon.password = ''

;------------ClixGalore (http://www.clixgalore.com/)------------

;The user name used in https://www.clixgalore.com/AffiliateSignup.aspx to log in
clixgalore.user = ''

;The password used in https://www.clixgalore.com/AffiliateSignup.aspx to log in
clixgalore.password = ''

;------------Amazon (All the newtwork are available)------------

;The user name used in Amazon associates to log in
amazon.user = ''

;The password used in Amazon associates to log in
amazon.password = ''

;Network we are going to log in: uk, es, us, ca, de, fr, it, jp, cn.
amazon.network = ''

;------------Ebay Partner Network (https://ebaypartnernetwork.com/)------------

;The user name used in Ebay partner network to log in
ebay.user = ''

;The password used in Ebay partner network to log in
ebay.password = ''

;------------M4N (http://www.m4n.nl/)------------

;The user name used in M4n  to log in
m4n.user = ''

;The password used in M4n to log in
m4n.password = ''

;------------Affiliates United (https://www.affutd.com/)------------

;The user name used in Affiliates United to log in
affiliatesunited.user = ''

;The password used in Affiliates United to log in
affiliatesunited.password = ''

;------------Bet365 (https://www.bet365affiliates.com/)------------

;The user name used in Bet365 to log in
bet365.user = ''

;The password used in Bet365 to log in
bet365.password = ''

;------------Brand Conversions (https://mats.brandconversions.com/)------------

;The user name used in Brand Conversions to log in
silvertap.user = ''

;The password used in Brand Conversions to log in
silvertap.password = ''

;------------Ladbrokers (https://www.ladbrokes.com/)------------

;The user name used in Ladbrokers to log in
ladbrokers.user = ''

;The password used in Ladbrokers to log in
ladbrokers.password = ''

;------------Skimlinks (https://skimlinks.com/)------------

;The user name used in Skimlinks to log in
skimlinks.user = ''

;The password used in Skimlinks to log in
skimlinks.password = ''

;------------AutoEurope (https://www.auto-europe.co.uk/)------------

;The user name used in Auto Europe to log in
autoeurope.user = ''

;The password used in Auto Europe to log in
autoeurope.password = ''

;------------PayMode (http://www.paymode-x.com/)------------

;The user name used in PayMode to log in
paymode.user = ''

;The password used in PayMode to log in
paymode.password = ''

;------------Effiliation (http://www.effiliation.com/)------------

;The user name used in Effiliation to log in
effiliation.user = ''

;The password used in Effiliation to log in
effiliation.password = ''

;------------NetAffiliation (http://www.netaffiliation.com/)------------

;The user name used in NetAffiliation to log in
netaffiliation.user = ''

;The password used in NetAffiliation to log in
netaffiliation.password = ''

;------------Publicidees (http://www.publicidees.es/)------------

;The user name used in Publicidees to log in
publicidees.user = ''

;The password used in Publicidees to log in
publicidees.password = ''

;------------ClickBank (http://www.clickbank.com/index.html)------------

;The user name used in ClickBank to log in
clickbank.user = ''

;The password used in ClickBank to log in
clickbank.password = ''

;------------Stream 20 (http://www.stream20.com/)------------

;The user name used in Stream 20 to log in
stream20.user = ''

;The password used in Stream 20 to log in
stream20.password = ''

;------------SMG (https://member.impactradius.co.uk/bls/Starcom-MediaVest/login.user)------------

;The user name used in Starcom-MediaVest 20 to log in
smg.user = ''

;The password used in Starcom-MediaVest 20 to log in
smg.password = ''

;------------Google Checkout (http://checkout.google.com/sell)------------

;The merchant ID
googlecheckout.user = ''

;The merchant Key
googlecheckout.password = ''

;------------DirectTrack (http://www.directtrack.com/)------------

;This is determined by the client’s DirectTrack domain. For example theclient’s DirectTrack domain is managedservices.directtrack.com, the value of client shouldbe set to managedservices.
directrack.client = ''

;This is the affiliate’s password which can be found in their affiliate record withinthe DirectTrack intranet.
directrack.password = ''

;This is the affiliate’s ID. In most cases this term is interchangeable with a CD#,with the exceptions being clients who have chosen to changed from the default prefix of CD
directrack.publisherId = ''

;------------Share a sale (http://www.shareasale.com/)------------
;In order to make it works, please go to Tools > Merchant API, you must include your IP in your account's IP
;Merchant Id - This is your Merchant Id, it appears at the header ID# XXXX
shareasale.merchantId = ''

;Api Token - It Appears under Tools > Merchant API
shareasale.apiToken = ''

;Api Secret - It Appears under Tools > Merchant API 
shareasale.apiSecret = ''

;----Afilio Brazil---
afilio.user = ''
afilio.password = ''

;----SportCoverDirect---
sportcoverdirect.user = ''
sportcoverdirect.password = ''

;----Ibiboards---
ibiboads.user = ''
ibiboads.password = ''

;----Tyroo---
tyroo.user = ''
tyroo.password = ''

