;------------Credentials----------------
[production]

;Affiliate Window

affiliatewindow.user = ''
affiliatewindow.password = ''
affiliatewindow.apiPassword = ''

;Affiliate Future

affiliatefuture.user = ''
affiliatefuture.password = ''

;Trade Doubler

tradedoubler.user = ''
tradedoubler.password = ''

;AdSense

adsense.user = ''
adsense.password = ''

;AffiliNet

affilinet.user = ''
affilinet.password = ''

;Buy At

buyat.user = ''
buyat.password = ''

;CarTrawler

cartrawler.user = ''
cartrawler.password = ''

;Commission Junction 

commissionjunction.user = ''
commissionjunction.password = ''
commissionjunction.apiPassword = ''

;DGM 

dgm.user = ''
dgm.password = ''

;LinkShare 

linkshare.user = ''
linkshare.password = ''

;Omg 

omg.user = ''
omg.password = ''

;PaidOnResults

paidonresults.user = ''
paidonresults.password = ''
paidonresults.apiPassword = ''

;SilverTap

silvertap.user = ''
silvertap.password = ''

;TerraVision

terravision.user = ''
terravision.password = ''

;Trade Tracker

tradetracker.user = ''
tradetracker.password = ''

;Travel Jigsaw

traveljigsaw.user = ''
traveljigsaw.password = ''

;Web Gains

webgains.user = ''
webgains.password = ''

;Wow Trk

wowtrk.client = ''
wowtrk.addCode = ''
wowtrk.password = ''

;Zanox

zanox.connectId = ''
zanox.secretKey = ''
zanox.publicKey = ''